footer {
    background-color: #000;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: #fff;
      font-size: 1.4rem;
    }
  }
  